@import 'base/variables'; 

* {
    font-family: "MuseoModerno", sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/media';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';