.benefits {
    min-height: 473px;
    padding: 70px 0 0 0;
    background: #F6F6F6;
    opacity:0;
    transition: 0.5s; 
    animation: show 3s 1; 
    animation-fill-mode: forwards; 
    animation-delay: 0.1s; 
    @keyframes show{
        0%{
        opacity:0;
        }
        100% {
        opacity:1;
        }
        }
    &__title {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #0D0D0D;
        text-decoration: uppercase;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__item {
        width: 277px;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        color: #0D0D0D;
        span {
            margin-top: 35px;
            display: block;
            font-weight: 700;
            font-size: 18px;
            color: #0D0D0D;
            margin-bottom: 20px;
        }
        a {
            display: inline;
            color: #FF0000;
            font-weight: 300;
            font-size: 14px;
            text-decoration: underline;
        }
    }

}